
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&family=Spline+Sans+Mono:wght@500&display=swap');
/*Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/*HEADER/CABECERA*/
header{
    position:fixed;
    width: 100%;
    border-bottom:1px solid transparent;
    height: 100px;
    background:rgba(0,0,0,0.4);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.logo{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 10px; 
  transition: 0.4s;
  font-size: 14px;
  font-weight: bold;
}

.mostrar-menu, 
.esconder-menu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
  color: #fff;
}

.mostrar-menu{
  order:1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

#check{
  display: none;
}
/*FIN DE HEADER/CABECERA*/
/*HOME*/

.home {
  /* Aquí el origen de la imagen */
  background-image: url(/Img/backbround-image01.jpg);
   overflow: hidden;
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center;
 /* Con esto cambiamos el color de la fuente, en este caso..solo del BODY */
   color:aliceblue;
   background-size: 100vw 100vh;
   background-repeat: no-repeat;
}
      .logo img{
        height: 75px;
        margin-right: 10px;
      }

      nav a:hover{
            color:white;

      }
      
.presentacion img { 
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}

.presentacion-texto{
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  content: normal;
}
/*FIN DE HOME*/

/*BODY/CUERPO*/
body {

  /* Con esto cambiamos el color de la fuente, en este caso..solo del BODY */
  color:rgb(13, 15, 17);

  /* Aquí el origen de la imagen */
  background-image: whitesmoke;

  /* Fijar la imagen de fondo este vertical y
    horizontalmente centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* COn esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: whitesmoke;
}
/*FIN DE BODY/CUERPO*/

/*SOBRE MI*/

.about-me{
  padding: 50px 50px;
  display:flex;
  justify-content: center;
  text-align: center;
}

/*FIN DE SOBRE MI*/

/*RESPONSIVE*/
@media(max-width:768px){
  /*HEADER*/
  .mostrar-menu, 
  .esconder-menu{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    right:-100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu{
    right: 0;
  }
}
/*FIN DE RESPONSIVE*/  