
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&family=Spline+Sans+Mono:wght@500&display=swap');
/*Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  }

section{
  display: block;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
/*HEADER/CABECERA*/
header{
    position:fixed;
    width: 100%;
    border-bottom:1px solid transparent;
    height: 100px;
    background:rgba(0,0,0,0.4);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;       
}

.logo{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 10px; 
  transition: 0.4s;
  font-size: 14px;
  font-weight: bold;
}

.mostrar-menu, 
.esconder-menu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
  color: #fff;
}

.mostrar-menu{
  order:1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

#check{
  display: none;
}
/*FIN DE HEADER/CABECERA*/
/*HOME*/

.home {
  /* Aquí el origen de la imagen */
  background-image: url(/img/background-home.jpg);
  height: 100vh; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:aliceblue;
}
      .logo img{
        height: 75px;
        margin-right: 10px;
      }

      nav a:hover{
            color:white;

      }
      
.presentacion img { 
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}

.presentacion-texto{
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  content: normal;
}
/*FIN DE HOME*/

/*BODY/CUERPO*/
body {

  /* Con esto cambiamos el color de la fuente, en este caso..solo del BODY */
  color:rgb(13, 15, 17);

  /* Aquí el origen de la imagen */
  background-image: whitesmoke;

  /* Fijar la imagen de fondo este vertical y
    horizontalmente centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* COn esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: whitesmoke;
}
/*FIN DE BODY/CUERPO*/

/*SOBRE MI*/

.about-me{
  padding: 50px 50px;
  display:flex;
  justify-content: center;
  text-align: center;
}

.about-titulo {
  color: grey;
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
   
}

.about-contenedor {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-descripcion {
  text-align: left;
  color: grey;
  padding-right: 80px;
  line-height: 40px;
}

.about-habilidades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.skill__title{
  grid-column: span 3;
  color: grey;
  text-align: left;
  margin: 20px 0;
}

.skill__item{
  font-size: 65px;
  color: grey;
  padding: 35px;
  transition: all 0.3s;
  min-width: 130px;
  height: 180px;
}
.skill__name{
  font-size: 16px;
    text-align: center;
}

.skill__item img{
  max-height: 100px;
  max-width: 100px;
}

/*FIN DE SOBRE MI*/
/*COMIENZO PORTFOLIO*/

.portfolio{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 3fr;
}
.portfolio-titulo{
    color: black;
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
  }
  
.contenedor-proyecto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.proyecto{
  border-radius: 10px;
  min-height: 275px;
  font-weight: bold;
  padding: 20px;
  /*position: relative;*/
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.texto-proyecto{
  color: crimson;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
/*FIN PORTFOLIO*/


/*INICIO DE PIE DE PAGINA*/
.pie{
  
background: rgb(143,10,10);
background: -moz-radial-gradient(circle, rgba(143,10,10,1) 2%, rgba(36,0,0,1) 55%, rgba(130,1,25,1) 100%);
background: -webkit-radial-gradient(circle, rgba(143,10,10,1) 2%, rgba(36,0,0,1) 55%, rgba(130,1,25,1) 100%);
background: radial-gradient(circle, rgba(143,10,10,1) 2%, rgba(36,0,0,1) 55%, rgba(130,1,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f0a0a",endColorstr="#820119",GradientType=1);
}
.pie .grupo-1{

max-width: 1200px;
margin:auto;
padding:15px 0px;
}

.pie .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
}
/*Comienzo de Contactame*/
.red-social{
  min-width: 100px;
  display: flex;
  justify-content:space-between;
}

.pie .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-right: 10px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
  transition: all .4s ease-in-out;
}

.red-social a:hover{
  transform: scale(1.2);
}
/*
.pie .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
/*TAMAÑO Y POSICION DEL LOGO
.pie .grupo-1 .box figure img{
  width: 150px;
} */

/*Final de Contactame*/
.leyenda{
  text-align: center;
  color: #fff;
}
.leyenda small{
  font-size: 15px;
}
/*FIN DE PIE DE PAGINA*/


/*RESPONSIVE*/
@media(max-width: 991px){
section {
  padding: 50px 0px;
}
}


@media(max-width:768px){
  /*HEADER*/
  .mostrar-menu, 
  .esconder-menu{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    right:-100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 0;
    transition: 0.8s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu{
    right: 0;
  }

  section {
    padding: 20px 0;
  }

.about-titulo {
    font-size: 25px;
}
.about-grid {
  grid-template-columns: 1fr;
}
.about-descripcion {
  padding-right: 0px;
}
.about__skills {
  grid-template-columns: 1fr 1fr 1fr;
}
.skill__title {
  grid-column: span 3;
}
.skill__item {
  font-size: 50px;
    padding: 5px;
    min-width: max-content;
}

  /*FOOTER*/
  .pie .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*FIN DE RESPONSIVE*/  