
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&family=Spline+Sans+Mono:wght@500&display=swap');
/*Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  }

  section[id] {
    scroll-margin-top: 30px;
  }
section{
  display: block;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
a {
  text-decoration: none;
}

.topheader{
  background:rgba(0,0,0,0.4);
  position:fixed;
  width: 100%;
  border-bottom:1px solid transparent;
  margin: 0 auto;
  left: 0;
  top: 0;
  z-index: 999;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}
.logo{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
.menu{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 0 15px;
}
.menu a {
  color:rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
}
.open-menu,
.close-menu{
  display: none;
}
.menu a:hover,
.open-menu:hover{
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  transition: 0.5s;
}
.close-menu:hover{
  background: #202020;
}

/*HEADER/CABECERA
header{
    position:fixed;
    width: 100%;
    border-bottom:1px solid transparent;
    height: 100px;
    background:rgba(0,0,0,0.4);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;       
}

.logo{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 10px; 
  transition: 0.4s;
  font-size: 14px;
  font-weight: bold;
}

.mostrar-menu, 
.esconder-menu{
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
  color: #fff;
}

.mostrar-menu{
  order:1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

#check{
  display: none;
}
FIN DE HEADER/CABECERA*/
/*HOME*/

.home {
  /* Aquí el origen de la imagen */
  background-image: url(/img/background-home.jpg);
  height: 100vh; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color:aliceblue;
}
      .logo img{
        height: 75px;
        margin-right: 10px;
      }

      nav a:hover{
            color:white;

      }
      
.presentacion img { 
  height: 300px;
  background-size: cover;
  border-radius: 50%;
}

.presentacion-texto{
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  content: normal;
}
/*FIN DE HOME*/

/*BODY/CUERPO*/
body {

  /* Con esto cambiamos el color de la fuente, en este caso..solo del BODY */
  color:rgb(13, 15, 17);

  /* Aquí el origen de la imagen */
  background-image: whitesmoke;

  /* Fijar la imagen de fondo este vertical y
    horizontalmente centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* COn esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: whitesmoke;
}
/*FIN DE BODY/CUERPO*/

/*SOBRE MI*/

.about-me{
  padding: 50px 50px;
  display:flex;
  justify-content: center;
  text-align: center;
}

.about-titulo {
  color: grey;
    font-size: 35px;
    margin-bottom: 30px;
    display: flex;
   
}

.about-contenedor {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-descripcion {
  text-align: left;
  color: grey;
  padding-right: 80px;
  line-height: 40px;
}

.about-descripcion button {
  cursor: pointer;
  background-color: rgb(124, 26, 26);
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin:20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
  
}
.about-descripcion button a{
  text-decoration: none;
  color: #fff;
}
.about-descripcion button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(14, 120, 0);
  z-index: -1;
  transition: 1s;
}
.about-descripcion button:hover .overlay {
  width: 100%;
}

.about-habilidades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.skill__title{
  grid-column: span 3;
  color: grey;
  text-align: left;
  margin: 20px 0;
}

.skill__item{
  font-size: 65px;
  color: grey;
  padding: 35px;
  transition: all 0.3s;
  min-width: 130px;
  height: 180px;
}
.skill__name{
  font-size: 16px;
    text-align: center;
}

.skill__item img{
  max-height: 100px;
  max-width: 100px;
}

/*FIN DE SOBRE MI*/

/*COMIENZO PORTFOLIO*/
.portfolio {
  background-color: whitesmoke;
  color: grey;
  padding: 50px 20px;
}
.portfolio .contenido-portfolio {
  max-width: 100%;
  margin: auto;
}
.portfolio h2 {
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}
.portfolio .galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyecto {
  position: relative;
  max-width: 650px;
  height: fit-content;  
  margin: 10px;
  cursor: pointer;
}
.portfolio .galeria .proyecto img {
  width: 100%;
  display: block;
}
.portfolio .galeria .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(122, 122, 122, 0.6), rgba(124, 124, 124, 0.6));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 30px;
  letter-spacing: 3px;
  opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3, p {
  margin-bottom: 20px;
  transition: 1s;
  text-decoration: none;
  color: black;
}
.portfolio .galeria .proyecto .overlay:hover {
  opacity: 1;
  text-decoration: none;
}
.portfolio .galeria .proyecto .overlay:hover h3, p {
  margin-bottom: 0px;
  text-decoration: none;
  color: black;
}
.portfolio .galeria .proyecto a{
  text-decoration: none;
}
/*FIN PORTFOLIO*/


/*INICIO DE PIE DE PAGINA*/
.pie{
  
background: rgb(143,10,10);
background: -moz-radial-gradient(circle, rgba(143,10,10,1) 2%, rgba(36,0,0,1) 55%, rgba(130,1,25,1) 100%);
background: -webkit-radial-gradient(circle, rgba(143,10,10,1) 2%, rgba(36,0,0,1) 55%, rgba(130,1,25,1) 100%);
background: radial-gradient(circle, rgba(143,10,10,1) 2%, rgba(36,0,0,1) 55%, rgba(130,1,25,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8f0a0a",endColorstr="#820119",GradientType=1);
}
.pie .grupo-1{

max-width: 1200px;
margin:auto;
padding:15px 0px;
}

.pie .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
}
/*Comienzo de Contactame*/
.red-social{
  min-width: 100px;
  display: flex;
  justify-content:space-between;
}

.pie .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-right: 10px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
  transition: all .4s ease-in-out;
}

.red-social a:hover{
  transform: scale(1.2);
}
/*Final de Contactame*/

.leyenda{
  text-align: center;
  color: #fff;
}
.leyenda small{
  font-size: 15px;
}
/*FIN DE PIE DE PAGINA*/


/*RESPONSIVE*/

@media(max-width:950px){
  .menu{
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: rgb(11, 10, 10);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: 0.8s;
  }
  .menu li {
    padding: 0;
    color: #fff;
  }
  .menu a {
    color:rgb(255, 255, 255);
    line-height: 60px;
  }
  .open-menu,
  .close-menu{
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .close-menu{
    align-self: flex-end;
  }

  .menu-opened {
    opacity: 1;
    pointer-events: all;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline:none;
  }

section {
      padding: 50px 0px;
    }
.about-titulo {
    font-size: 25px;
}
.about-grid {
  grid-template-columns: 1fr;
}
.about-descripcion {
  padding-right: 0px;
}
.about__skills {
  grid-template-columns: 1fr 1fr 1fr;
}
.skill__title {
  grid-column: span 3;
}
.skill__item {
  font-size: 50px;
    padding: 5px;
    min-width: max-content;
}

.portfolio .galeria{
  display: block;
  width: 100%;
}
.portfolio .galeria .proyecto{
  max-width: 100%;
}
.portfolio .galeria .proyecto img{
  width: 100%;
}
  /*FOOTER*/
  .pie .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*FIN DE RESPONSIVE*/  